{% extends 'general/base.html' %}

{% load static %}

{% block content %}


<div class="container-fluid pt-5 bg-primary hero-header mb-5">
    <div class="container pt-4">

    </div>
</div>

<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Chat History</h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Question</th>
                <th>Response</th>
                <th>Date</th>
                <th>Delete</th>

              </tr>
            </thead>
            <tbody>
              {% for chat in previous_chats %}
              <tr>
                <td>{{ chat.question }}</td>
                <td>{{ chat.response }}</td>
                <td>{{ chat.date }}</td>
                <td><a href="{% url 'delete_chat' chat.pk  %}" class="btn btn-danger">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<br>
<br>
<br>
  




{% endblock %}